{{ $sass := resources.Get "scss/main.scss" }}
{{ $style := $sass | resources.ToCSS }}
{{ $custom := "" }}
{{ with .Site.Params.custom_css }}
  {{ $custom = resources.Get . }}
  {{ $bundle := slice $style $custom | resources.Concat "main.css" }}
  {{ $style = $bundle }}
{{ end }}
{{ $final := "" }}
{{ if eq $.Site.Params.enable_postcss true }}
  {{ $final = $style | postCSS (dict "config" "postcss.config.js") | minify }}
{{ else }}
  {{ $final = $style | minify }}
{{ end }}
<link rel="stylesheet" href="{{ $final.Permalink }}" />