{{ define "main" }}
<section class="banner">
  <div class="single__container single__banner-wrapper">
    <div class="single__banner-categories">
      {{ with .Params.techstack }}
      {{ range . }}
        <li>{{ . }}</li>
      {{ end }}
      {{ end }}
    </div>
    <h1 class="banner__header single__post-header">{{ .Title }}</h1>
    <div class="single__post-meta">
      <div class="project__links project__links--single">
        {{ with .Params.live_url }}
          <a class="project__live-url cta-btn cta-btn--very-light" href="{{ . }}">Live</a>
        {{ end }}
        {{ with .Params.source_url }}
          <a class="project__source-url cta-btn cta-btn--very-light" href="{{ . }}">Source Code</a>
        {{ end }}
      </div>
    </div>
    <p class="single__post-description">{{ .Description }}</p>
  </div>
</section>
<div class="single__container single__container-bg">
  {{ .Content }}
</div>
{{ end }}