{{ define "main" }}
<section class="banner">
  <div class="single__container single__banner-wrapper">
    <ul class="single__banner-categories">
      {{ with .Params.techstack }}
      {{ range . }}
        <li>{{ . }}</li>
      {{ end }}
      {{ end }}
    </ul>
    <h1 class="banner__header single__post-header">
      {{ .Title }}
      {{ partial "label_drafts.html" . }}
    </h1>
    {{ if or (.Params.live_url) (.Params.source_url) }}
      <div class="single__post-meta">
        <div class="project__links project__links--single">
          {{ with .Params.live_url }}
            <a class="project__live-url cta-btn cta-btn--very-light" href="{{ . }}">Live</a>
          {{ end }}
          {{ with .Params.source_url }}
            <a class="project__source-url cta-btn cta-btn--very-light" href="{{ . }}">Source Code</a>
          {{ end }}
        </div>
      </div>
    {{ end }}
    <p class="single__post-description">
      {{ with .Params.Summary }}
        {{ . }}
      {{ else }}
        {{ .Description }}
      {{ end }}
    </p>
  </div>
</section>
<div class="single__container single__container-bg">
  {{ partial "cover-image.html" . }}
  {{ .Content }}
</div>
{{ end }}