<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ .Site.Params.twitterSite }}">
<meta name="twitter:creator" content="{{ .Site.Params.twitterCreator }}">
<meta name="twitter:title" content="{{- with .Params.seo_title -}}{{- . -}}{{ else }}{{- .Title -}}{{ end }}{{ if (or (and (ne .Type "posts") (ne .Type "projects") (not .IsHome)) (and (not .IsPage) (not .IsHome))) }} | {{ .Site.Title -}}{{ end -}}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{ $images := $.Resources.ByType "image" -}}
{{ $feature := $images.GetMatch "*feature*" -}}
{{ $feature_param := $.Params.feature_image  }}
{{ $feature_frontmatter := $images.GetMatch $feature_param }}
{{ with $feature_frontmatter -}}
  <meta property="twitter:image" content="{{ .Permalink }}" alt="{{ with $.Params.feature_image_alt }}{{ . }}{{ end }}"/>
{{ else -}}
  {{ with $feature -}}
    <meta property="twitter:image" content="{{ .Permalink }}" alt="{{ with $.Params.feature_image_alt }}{{ . }}{{ end }}"/>
  {{ else -}}
    <meta name="twitter:card" content="summary">
  {{ end }}
{{ end }}