@media screen and (max-width: 480px) {
    
}

@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 768px) {
    
    .main-nav {
        flex-direction: row; /* Horizontal nav on desktop */
        align-items: center;
        padding: 0;
        transition: var(--trans-ease-med);
    }

    .main-nav__logo {
        transition: var(--trans-ease-med);
    }

    .main-nav:hover .main-nav__logo {
        color: var(--txt-color-light-2);
    }

    .main-nav:hover {
        border-color: var(--border-color-med);
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu ul {
        display: none;
        position: absolute;
        transition: var(--trans-ease-short);
    }

    .menu li:hover > ul {
        background-color: var(--bg-color-light);
        padding-left: 0;
    }

    .menu li:hover > ul a {
        color: var(--txt-color-dark-1);
    }

    .menu li > ul a:hover {
        color: var(--txt-color-light-1);
    }

    .main-nav__toggle {
        display: none; /* Hide nav toggle on desktop */
    }

    .home-hero__flex {    
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1400px) {

}