/* --- Custom Properties --- */

:root {
    /* Background colors */
    --bg-color-dark: #151515;    
    --bg-color-light: #f7f7f7;
    --bg-color-light-2: #e3e3e3;
    --bg-color-blue: #18191c;
    --bg-color-grad: linear-gradient(180deg, var(--bg-color-dark) 25%, var(--bg-color-blue) 100%);

    /* Links and alt colors */
    --link-color-light: #bd7221;
    --link-color-dark: #9a5c1a;
    --alt-color-light: #32d1dc;
    --alt-color-dark: #24959d;

    /* Contrasting text colors */
    --txt-color-dark-1: black;
    --txt-color-dark-2: #353535;
    --txt-color-dark-3: #555555;
    --txt-color-light-1: white;
    --txt-color-light-2: #eeeeee;
    --txt-color-light-3: #e3e3e3;
    --txt-color-light-4: #cfcfcf;
    --txt-color-light-5: #a4a4a4;

    /* Border colors and trasitions */
    --border-color-very-light: #c4c4c4;
    --border-color-light: #a9a9a9;
    --border-color-med: #808080;
    --border-color-dark: #333333;
    --trans-ease-short: all 0.2s ease-in-out;
    --trans-ease-med: all 0.6s ease-in-out;
    
    /* Font families */
    --base-font-light: 'Ubuntu Light';
    --base-font-reg: 'Ubuntu Regular';
    --base-font-med: 'Ubuntu Medium';
    --base-font-bold: 'Ubuntu Bold';
    --serif-font-light: 'Merriweather Light';
    --serif-font-reg: 'Merriweather Regular';
    --serif-font-med: 'Merriweather Medium';
    --serif-font-bold: 'Merriweather Bold';
}


/* --- Local Fonts --- */

@font-face {
    font-family: 'Ubuntu Light';
    src: local('Ubuntu Light'),
        url('/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: local('Ubuntu Regular'),
        url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: local('Ubuntu Medium'),
        url('/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu Bold'),
        url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather Light';
    src: local('Merriweather Light'),
        url('/fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Merriweather Regular';
    src: local('Merriweather Regular'),
        url('/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather Medium';
    src: local('Merriweather Medium'),
        url('/fonts/Merriweather/Merriweather-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Merriweather Bold';
    src: local('Merriweather Bold'),
        url('/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: 700;
}


/* --- Elements --- */

html, body {
    font-family: var(--base-font-reg), Helvetica, sans-serif;
    height: 100%;
}

body {
    /* Flex properties on body/main/footer are for floating footer
    to bottom of page if main content doesn't fill viewport vertically */
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-light);
}

main {   
    flex: 1 0 auto; 
}

footer {
    flex-shrink: 0;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif-font-reg), Georgia, serif;
}

h1 {
    font-size: 2.3rem;
    line-height: 3.2rem;
}

h2 {
    font-size: 1.7rem;
    line-height: 2.2rem;
}

h3 {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    font-family: var(--base-font-light), Helvetica, sans-serif;
    color: var(--txt-color-dark-2);
    font-size: 1.1rem;
    line-height: 1.7rem;
}

a {
    text-decoration: none;
}


/* Reusable styles / components */

.header--light {
    color: var(--txt-color-light-2);
}

.header--md {
    font-size: 1.8rem;
}

.header--lg {
    font-size: 2.2rem
}

.description--light {
    color: var(--txt-color-light-5);
}

.cta-btn {
    padding: 12px;    
    border-style: none;
    box-sizing: border-box;
    color: var(--txt-color-light-1);
    border: 2px solid var(--link-color-light);
    background-color: var(--link-color-light);
    font-family: var(--base-font-reg);
    transition: var(--trans-ease-short);
}

.cta-btn:hover {
    border: 2px solid var(--link-color-light);
    background-color: var(--bg-color-light);
    color: var(--link-color-light);
    cursor: pointer;
}

.cta-btn--light {
    background-color: transparent;
    border-color: var(--link-color-dark);
}

.cta-btn--light:hover {
    background-color: var(--link-color-dark);
    color: var(--txt-color-light-2);
    border-color: var(--link-color-dark);
}

.h-divider::after {
    content:' ';
    display:block;
    border: 1px solid var(--border-color-med);
    width: 70px;
    margin-top: 20px;
}

.triangle-divider {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 50px solid var(--bg-color-dark);
}


/* --- Navigation --- */

.main-nav {
    background-color: var(--bg-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    padding: 20px;
    row-gap: 20px;   
    border-bottom: 2px solid var(--border-color-dark);
}

.main-nav__logo {
    color: var(--txt-color-light-5);
    font-family: var(--serif-font-bold), Georgia, serif;
    font-size: 1.8rem;
    text-decoration: none;
    width: fit-content;
}

.main-nav__logo:hover {
    color: var(--txt-color-light-4);
}

.menu {
    display: none;  
    flex-direction: column;
    margin: 0;
    padding: 0;    
}
    
.menu__item {
    display: block;
    list-style-type: none;
}
    
.menu__link {
    display: flex;
    color: var(--txt-color-light-5);
    text-align: center;
    text-decoration: none;
    padding: 1.6rem;
}
    
.menu__link:hover {
    background-color: var(--link-color-light);
    color: var(--txt-color-light-1);
    transition: var(--trans-ease-short);
}

.sub-menu {
    display: none;
}

.sub-menu--active {
    display: block;
    z-index: 1;
}

.menu__link--desktop {
    display: none;
}

.menu__link--mobile {
    display: flex;
    cursor: pointer;
}

.sub-menu .menu__link--desktop {
    color: var(--txt-color-dark-2);
}

.sub-menu .menu__link--desktop:hover {
    color: var(--txt-color-light-1);
}

.menu__drop-icon {
    cursor: pointer;
    margin-left: 10px;
}

.main-nav__toggle {
    position: absolute;
    top: 22px;
    right: 30px;
    cursor: pointer; 
}

.main-nav--active {
    display: flex; /* Display mobile nav on click */    
}


/* --- Footer --- */

.footer {
    background-color: var(--bg-color-dark);        
}

.footer__details {
    padding: 10px 20px;
}

.footer__copyright {
    text-align: center;
    color: var(--txt-color-light-5);
    font-size: 1rem;
    line-height: 1.5rem;
}

.footer__copyright a {    
    color: var(--link-color-dark);
    text-decoration: none;
    font-family: var(--serif-font-light), Georgia, serif;
}

.footer__copyright a:hover {
    color: var(--link-color-light);
}


/* --- Home page --- */

.home-hero {
    background: var(--bg-color-dark);
    background: var(--bg-color-grad);
    padding: 60px 30px 90px 30px;
}

.home-hero__wrapper {
    max-width: 850px;
    margin: 0 auto;    
}

.home-hero__title {
    color: var(--txt-color-light-2);
    line-height: 1.3em;
    margin: 0 0 15px 0;
    font-size: 1.7rem;
}

.home-hero__subtitle {
    color: var(--txt-color-light-4);
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 40px;
}

.home-hero__pic {
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 20px;
    filter:contrast(70%);
    border: 3px solid var(--bg-color-light);
    width: 75px;
    height: auto;
}

.home-hero__flex {    
    display: flex;
    flex-direction: column;
}

.home-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    column-gap: 5%;
}

.home-section__sections {
    background-color: var(--bg-color-light);
    column-gap: 0;
    border-top: 5px solid var(--link-color-dark);
    border-bottom: 5px solid var(--link-color-dark);
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    padding: 100px 20px;
}

.home-section__posts {
    background-color: var(--bg-color-dark);
    padding: 100px 0;
}

.home-section__projects {
    background-color: var(--bg-color-light);
    flex-direction: row-reverse;
    padding: 80px 0;
}

.home-section__info {
    width: 400px;
    padding: 20px 30px;
}

.home-section__info p a {
    font-family: var(--base-font-med);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--link-color-dark);
}

.home-section__sections .home-section__info {
    box-shadow: 0 5px 25px -18px var(--bg-color-dark);
    background-color: white;
}


/* List pages */

.banner {
    background: var(--bg-color-dark);
    background: var(--bg-color-grad);
    padding: 10px;
}

.banner__header {
    color: var(--txt-color-light-2);
    text-align: center;
}

.list__wrapper {
    display: flex;
    background-color: var(--bg-color-light);
    min-height: 80vh;
}

.list__description {
    color: var(--txt-color-dark-3);
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 50px;
    background-color: var(--bg-color-light-2);
    padding: 30px;
}


/* Single pages */

.single__container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

.single__container-bg {
    background-color: white;
}

.single__banner-wrapper {
    padding: 20px;
}

.single__post-header {    
    text-align: left;
    margin: 0 auto;
}

.single__post-description {
    color: var(--txt-color-light-3);
    margin-top: 50px;
    font-size: 1.2rem;
}

.single__post-meta {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 20px;
    color: var(--txt-color-light-4);
    text-align: left;
}

.single__post-meta-stats {
    display: flex;
    column-gap: 10px;
    font-family: var(--base-font-reg), Helvetica, sans-serif;
}

.single__banner-categories {
    display: flex;
    list-style-type: none;
    column-gap: 15px;
    margin-bottom: 15px;
    font-size: 1rem;   
    text-transform: uppercase; 
}

.single__banner-categories li {
    color: var(--alt-color-dark);
}

.single__banner-categories li:hover {
    color: var(--alt-color-light);
}

.single__banner-tags ul {
    /* margin-left: 10px; */
    display: flex;
    list-style-type: none;
    column-gap: 15px;
    row-gap: 20px;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    flex-wrap: wrap;
}

.single__banner-tags ul li {
    background-color: transparent;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid var(--alt-color-dark);
    color: var(--alt-color-dark);
}

.single__banner-tags ul li:hover {
    border-color: var(--alt-color-light);
    color: var(--alt-color-light);
}

.single__post-content p {
    font-family: var(--base-font-light), Helvetica, sans-serif;
    color: var(--txt-color-dark-2);
    font-size: 1.2rem;
    line-height: 1.9rem;
}

.single__post-content strong {
    font-family: var(--base-font-reg), Helvetica, sans-serif;
}

.single__next-previous {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.single__next-previous div {
    max-width: 200px;
    background-color: white;
    border: 1px solid var(--border-color-very-light);
    padding: 10px;
}

.series {
    line-height: 2rem;
    color: var(--txt-color-dark-2);
    margin-bottom: 30px;
}

.series li {
    line-height: 1.4rem;
    margin-top: 5px;
}

.series__this-post {
    color: var(--alt-color-dark);
    /* background-color: white; */
    padding: 5px 5px;
    margin-left: 5px;
    font-size: 0.8em;
    border-radius: 5px;
    border: 2px solid var(--alt-color-dark);
    font-family: var(--base-font-bold), Helvetica, sans-serif;
}


/* Table of contents */

.toc {    
    margin-bottom: 30px;
}

.toc__header {
    font-size: 1rem;
}

.toc__contents {
    display: none;
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--txt-color-dark-2);    
    font-family: var(--base-font-light);
}

.toc__contents--active {
    display: block;
}

#js-toc__toggle {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    background-color: var(--bg-color-light-2);
    padding: 0 20px;    
}

#js-toc__toggle:hover {
    cursor: pointer;
}


/* Taxonomy / terms pages */

.terms {
    padding: 50px 20px;
}

.terms__wrapper {
    max-width: 768px;
    margin: 0 auto;
    background-color: var(--bg-color-light-2);
    padding: 30px;
}

.terms__term {
    font-size: 1.2em;
    line-height: 1.7em;
    margin: 5px;    
}

.terms__term a {
    color: var(--alt-color-dark);
}

.terms__term a:hover {
    color: var(--alt-color-light);
}

.terms__term sup {
    color: var(--txt-color-dark-3);
}


/* Posts */

.posts {
    width: 600px;
    padding: 0 30px 0 30px;
}

.posts--center {
    margin: 0 auto;
}

.post {
    margin: 30px 0;
}

.post:not(:last-child):after {
    content:' ';
    display: block;
    border: 1px solid var(--border-color-dark);
    width: 100%;
    margin-top: 30px;
}

.post--light:not(:last-child):after {
    border: 1px solid var(--bg-color-light-2);
}

.post__date {
    margin: 0;
    margin-bottom: 5px;
    color: var(--txt-color-light-5);
    font-size: 0.9rem;
}

.post__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-family: var(--serif-font-light), Georgia, serif;
}

.post__title a {
    text-decoration: none;
    transition: var(--trans-ease-short);
}

.post__title a:hover {
    text-decoration: none;
    color: var(--txt-color-dark-3);
}

.post__title--light a {
    text-decoration: none;
    color: var(--txt-color-light-2);
}

.post__title--light a:hover {
    text-decoration: none;
    color: var(--txt-color-light-4);
}

.post__description {
    margin: 15px 0 0 0;
    font-size: 1.1rem;
}


/* Projects */

.description__wrapper {
    max-width: 600px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
    display: block;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px 50px;
    padding: 30px 50px 100px 50px;
}

.project {
    box-shadow: 0 5px 25px -18px var(--bg-color-dark);
    padding: 50px;
    background-color: var(--bg-color-light);
    background-color: white;
    flex: 1 1 20%;
}

.project--home {
    flex: 0 1;
    margin: 30px;
}

.project__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-family: var(--serif-font-light), Georgia, serif;
}

.project__description {
    margin: 15px 0 0 0;
    font-size: 1.1rem;
}

.project__links {
    display: flex;
    column-gap: 15px;
    margin-top: 30px;
}

.project__links a {
    color: var(--link-color-dark);
}

.project__live-url {

}

.project__source-url {

}

.projects__pagination {
    display: flex;
    justify-content: center;
}


/* Newsletter / Contact form */

.newsletter {
    padding: 60px 30px;
    background: var(--bg-color-dark);
    background: var(--bg-color-grad);
    border-top: 5px solid var(--alt-color-dark);
}

.newsletter__contents {
    max-width: 500px;
    margin: 0 auto;
}

.newsletter__header {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--txt-color-light-3);
}

.newsletter__description {
    color: var(--txt-color-light-5);
    font-size: 1.2rem;
}

#newsletter__form {
    margin-top: 30px;
}

#newsletter__form--input {
    padding: 12px;
    margin-right: 10px;    
    min-width: 200px;
    min-height: 30px;
    border: 1px solid var(--border-color-light);
    font-size: 1rem;
    color: var(--txt-color-dark-2);
    font-family: var(--base-font-reg), Helvetica, sans-serif;
}

#newsletter__form--submit {
    margin-top: 15px;
}

.contact {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 30px 80px 30px;
}

.contact__description {
    margin: 0;
}

#contact__form {
    display: flex;
    flex-direction: column;
}

#contact__form--input {
    padding: 12px;
    margin-right: 10px; 
    margin-top: 10px;   
    min-width: 200px;
    min-height: 30px;
    border: 1px solid var(--border-color-light);
    font-size: 1rem;
    color: var(--txt-color-dark-2);
    font-family: var(--base-font-reg), Helvetica, sans-serif;
}

#contact__form--textarea {
    padding: 12px;
    margin-right: 10px; 
    margin-top: 10px;   
    min-width: 200px;
    min-height: 80px;
    border: 1px solid var(--border-color-light);
    font-size: 1rem;
    color: var(--txt-color-dark-2);
    font-family: var(--base-font-reg), Helvetica, sans-serif;
}


#contact__form--submit {
    margin-top: 15px;
    max-width: 100px;
}


/* About page */

.about {
    max-width: 900px;
    margin: 0 auto;
}

.about__content {
    margin: 50px 20px;
}


/* Related posts */

.related {
    padding: 20px 0;
}

.related__header {
    font-size: 1.5rem;
}

.related__posts {
    font-size: 1.1rem;
    line-height: 1.5rem;
}


/* Pagination */

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    margin: 60px 0;
    padding: 0;
    font-size: 1.2em;
    font-family: var(--base-font-light), Helvetica, sans-serif;
}

.page-item {
    
}

.page-link {
    color: var(--txt-color-dark-3);
    padding: 10px;
    background-color: var(--bg-color-light-2);
}

.page-item.disabled > a {
    color: var(--txt-color-light-5);
    cursor:unset;
}

.page-item.active > a {
    color: var(--link-color-light);
}

.page-link:hover {
    color: var(--link-color-light);
}


/* Social share icons */

.social-share {
    padding: 20px 0;
}

.social-share__header {
    font-size: 1.5rem;
}
 
.social-share ul {
	display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
}
 
.social-share ul li p {
	display: none;
}
 
.social-share .share-btn {
	padding: 10px;
	width: 50px;
    height: auto;
}

.social-share__icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}
 
.share-btn {
	display: inline-block;
	border: none;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	text-align: center;
}
 
.share-btn.twitter     { background: #55acee; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.email       { background: #444444; }

.share-btn.twitter:hover     { background: #4c9ad6; }
.share-btn.facebook:hover    { background: #2f4779; }
.share-btn.linkedin:hover    { background: #4069a2; }
.share-btn.reddit:hover      { background: #e54e00; }
.share-btn.email:hover       { background: #363636; }

/* Make svg fill white for contrast */
.icon { filter: invert(100%) sepia(0%) saturate(455%) hue-rotate(92deg) brightness(117%) contrast(94%); }


/* Misc */

.error-404 {
    
}

.error-404__wrapper {
    margin-top: 30px;    
    width: fit-content;
    margin: 50px auto;
    padding: 50px;
    background-color: var(--bg-color-light);
    border: 1px solid var(--border-color-light);
    border-radius: 5px;
}

.error-404__wrapper h1 {
    margin: 0;
}