/* --- Custom Properties --- */

:root {
    --bg-color: #ffffff;
    --link-color: #9a1f1f;
    --alt-color: #1f5a9a;
    --dark-txt-color: #353535;
    --med-txt-color: #555555;
    --light-txt-color: #767676;
    --base-font-light: 'Ubuntu Light';
    --base-font-reg: 'Ubuntu Regular';
    --base-font-med: 'Ubuntu Medium';
    --base-font-bold: 'Ubuntu Bold';
    --serif-font-light: 'Merriweather Light';
    --serif-font-reg: 'Merriweather Regular';
    --serif-font-med: 'Merriweather Medium';
    --serif-font-bold: 'Merriweather Bold';
}


/* --- Local Fonts --- */

@font-face {
    font-family: 'Ubuntu Light';
    src: local('Ubuntu Light'),
        url('/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: local('Ubuntu Regular'),
        url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: local('Ubuntu Medium'),
        url('/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu Bold'),
        url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather Light';
    src: local('Merriweather Light'),
        url('/fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Merriweather Regular';
    src: local('Merriweather Regular'),
        url('/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather Medium';
    src: local('Merriweather Medium'),
        url('/fonts/Merriweather/Merriweather-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Merriweather Bold';
    src: local('Merriweather Bold'),
        url('/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: 700;
}


/* --- Elements --- */

html, body {
    font-family: var(--base-font-reg), Helvetica, sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {   
    flex: 1 0 auto; 
}

footer {
    flex-shrink: 0;
    text-align: center;
    background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-txt-color);
    font-family: var(--serif-font-reg), Georgia, serif;
}

h1 {
    font-size: 2.3rem;
    line-height: 3.2rem;
}

h2 {
    font-size: 1.7rem;
    line-height: 2.2rem;
}

h3 {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    font-family: var(--base-font-light), Helvetica, sans-serif;
    color: var(--dark-txt-color);
    font-size: 1.1rem;
    line-height: 1.8rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--dark-txt-color);
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    max-width: fit-content;
}

tr:nth-of-type(odd) { 
    background: #eee; 
}

th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}


/* --- Navigation --- */

.navbar {
    height: 60px;
    background-color: #eee;
}

.logo {
    font-family: var(--serif-font-light), Georgia, serif;
    color: var(--link-color);
    margin-top: 16px;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 20px;
}

.logo:hover {
    color: var(--dark-txt-color);
}

.navbar-toggle {
    color: var(--link-color);
    font-size: 1.6em;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer; 
}

.main-nav {
    list-style-type: none;
    display: none;   
    padding-top: 10px;
}

.nav-links {
    color: var(--dark-txt-color);
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links:hover {
    color: var(--link-color);    
}

.active-nav {
    display: block;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 0;    
}

.active-nav li {
    margin-bottom: 15px;
}

#active-link {
    color: var(--link-color);
}


/* --- Footer --- */

.main-footer p {
    font-size: 1em;
}

.main-footer p a {
    color: var(--link-color);
    text-decoration: none;
    font-family: var(--serif-font-light), Georgia, serif;
}

.main-footer p a:hover {
    color: var(--dark-txt-color);
}


/* --- Home page --- */

.homepage__hero {
    background-color: #333;
    padding: 60px 30px;
}

.homepage__hero--wrapper {
    max-width: 768px;
    margin: 0 auto;
}

.homepage__hero--title {
    color: white;
    margin: 0 0 10px 0;
}

.homepage__hero--subtitle {
    color: #cfcfcf;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
}

.homepage__hero--learn-more {
    margin-top: 30px;
}

.homepage__hero--learn-more a {
    background-color: var(--link-color);
    padding: 12px;
    text-decoration: none;
    color: #eee;
}

.homepage__hero--learn-more a:hover {
    color: var(--link-color);
    background-color: #eee;
}

.homepage__hero--pic {
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 20px;
    filter: grayscale(40%);
}

.homepage__hero--flex {    
    display: flex;
    flex-direction: column;
}

.homepage__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    column-gap: 5%;
}

.homepage__section--sections {
    column-gap: 0;
}

.homepage__section--posts {
    background-color: #eeeeee;
    padding: 50px 0;   
}

.homepage__section--projects {
    background-color: #fff;
    flex-direction: row-reverse;
    padding: 50px 0;
}

.homepage__section--info {
    width: 400px;
    padding: 20px 30px;
}

.homepage__section--info-no-border {
    border: none;
    border-radius: 0;
    box-shadow: none;
}


/* Section pages */

.section__banner {
    background-color: #333;
    padding: 10px;
}

.section__header {
    color: white;
    text-align: center;
}


/* Taxonomy / terms pages */

.terms {
    margin-top: 50px;
}

.terms__wrapper {
    max-width: 768px;
    margin: 0 auto;
    background-color: #eee;
    padding: 30px;
}

.terms__term {
    font-size: 1.3em;
    margin: 5px;
}


/* Posts */

.posts {
    width: 600px;
    padding: 0 30px;
}

.posts--center {
    margin: 0 auto;
}

.post {
    margin: 50px 0;
}

.post__date {
    margin: 5px 0 10px 0;
    color: var(--light-txt-color);
    font-size: 1em;
}

.post__title {
    margin: 0;
}

.post__title a {
    text-decoration: none;
    color: var(--alt-color);
}

.post__description {
    margin: 5px 0 0 0;
}


/* Newsletter */

.newsletter {
    border: 1px solid #888888;
    padding: 50px 30px;
    background-color: #333;
}

.newsletter__contents {
    max-width: 600px;
    margin: 0 auto;
}

.newsletter__header {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.newsletter__description {
    color: #eee;
}

#newsletter__form {
    margin-top: 30px;
}

#newsletter__form--input {
    padding: 12px;
    margin-right: 10px;
    border: 1px solid #888888;
}

#newsletter__form--submit {
    padding: 12px;    
    border-style: none;
    box-sizing: border-box;
    color: #eee;
    border: 2px solid var(--link-color);
    background-color: var(--link-color);
    margin-top: 15px;
}

#newsletter__form--submit:hover {
    color: var(--link-color);
    border: 2px solid var(--link-color);
    background-color: white;
    cursor: pointer;
}