@media screen and (min-width: 480px) {
    .home-hero {
        padding: 50px 30px;
    }

    .home-hero__pic {
        width: 100px;
    }

    .home-hero__title {
        font-size: 1.9rem;
    }

    .home-hero__subtitle {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    .banner__header {
        font-size: 1.9rem;
        line-height: 2.6rem;
    }

    .newsletter__header {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .newsletter__description {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    #newsletter__form--input {
        min-width: 200px;
        min-height: 30px;
    }

    .projects {
        padding: 30px 30px 100px 30px;
    }

    .project {
        min-width: 300px;
        padding: 30px;
    }

    .project__title {
        font-size: 1.4rem;
    }

    .project__description {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .single__banner-categories {
        font-size: 1rem;
    }

    .project__links {
        margin-top: 30px;
    }
    
}

@media screen and (min-width: 768px) {
    
    .main-nav {
        flex-direction: row; /* Horizontal nav on desktop */
        align-items: center;
        padding: 0;
        // transition: var(--trans-ease-med);
    }

    .main-nav__logo {
        // transition: var(--trans-ease-med);
    }

    .main-nav:hover .main-nav__logo {
        color: var(--txt-color-light-4);
    }

    .main-nav:hover {
        border-color: var(--border-color-med);
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .sub-menu {
        display: none;
        position: absolute;
        transition: var(--trans-ease-short);
    }

    .menu__item:hover > .sub-menu {
        background-color: var(--bg-color-light);
        padding-left: 0;
    }

    .menu__item:hover > .sub-menu {
        display: block;
        z-index: 1;
    }

    .menu__link--desktop {
        display: flex;
    }

    .menu__link--mobile {
        display: none;
    }

    .sub-menu--active {
        display: none;
        z-index: 1;
    }

    .menu__item:hover > .menu__item {
        color: var(--txt-color-dark-1);
    }

    .menu__item > .menu__item:hover {
        color: var(--txt-color-light-1);
    }

    .main-nav__toggle {
        display: none; /* Hide nav toggle on desktop */
    }

    .home-hero {
        padding: 80px 30px;
    }

    .home-hero__flex {    
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .home-hero__title {
        font-size: 2.1rem;
    }

    .single__container {
        padding: 50px;
    }

    .banner__header {
        font-size: 2.1rem;
        line-height: 3rem;
    }

    .single__post-description {
        margin-top: 50px;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .single__banner-tags ul li a {
        padding: 6px 12px;
        font-size: 1rem;
    }

    .single__post-meta-stats {
        font-size: 1rem;
    }

    .projects {
        padding: 30px 50px 100px 50px;
    }

    .project {
        padding: 50px;
    }

}

@media screen and (min-width: 1024px) {
    .home-hero__title {
        font-size: 2.3rem;
    }

    .home-hero__subtitle {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    .banner__header {
        font-size: 2.3rem;
        line-height: 3.2rem;
    }

    .home-section__sections {
        padding: 80px 20px;
    }
}

@media screen and (min-width: 1400px) {

}