.btn-group {
  display: flex;
  column-gap: 15px;
}

%btn {
  border: 1px solid var(--color-primary);
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  display: inline-block;

  @include respond-to('small') {
    padding: 0.6rem 0.8rem;
    font-size: 1.1rem;
  }

  @include on-event() {
    text-decoration: none;
  }
}

.btn-primary {
  @extend %btn;
  background-color: var(--color-primary);
  color: var(--color-contrast-lower);

  &:hover {
    background: transparent;
    color: var(--color-primary);
  }
}

.btn-secondary {
  @extend %btn;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-contrast-lower);
  }
}