.cta-btn {
  padding: 12px;    
  border-style: none;
  box-sizing: border-box;
  color: $txt-color-dark-1;
  border: 2px solid $link-color-light;
  background-color: $link-color-light;
  font-family: $base-font-med;
  transition: $trans-ease-short;
  border-bottom: 2px solid $alt-color-dark;

  &:hover {
    border: 2px solid $link-color-dark;
    background-color: $bg-color-light;
    color: $link-color-dark;
    cursor: pointer;
    border-bottom: 2px solid $alt-color-light;
  }

  &--light, &--very-light {
    background-color: transparent;
  }

  &--light {
    border-color: $link-color-dark;
    color: $link-color-dark;

    &:hover {
      background-color: $link-color-dark;
      color: $txt-color-light-2;
      border-color: $link-color-dark;
    }
  }

  &--very-light {
    border-color: $link-color-light;
    color: $link-color-light;

    &:hover {
      background-color: $link-color-light;
      color: $txt-color-light-2;
      border-color: $link-color-light;
    }
  }
}
