.draft::after {
  content: 'Draft';
  color: rgb(201, 8, 8);
  border: 1px solid rgb(201, 8, 8);
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 2px 5px;
  margin-left: 10px;
  font-weight: 300;
}