.page-header {
  background-color: var(--color-contrast-lower);
  padding: 30px;
  margin: 0 0 50px 0;
  border-radius: 20px;
}

.page-header--c {
  @extend .page-header;
  text-align: center;
}

.page-header-title {
  margin: 0;
  color: var(--color-contrast-high);
  font-weight: 500;
  @include font-size('lg');
}

.page-header-desc {
  margin: 0;
  margin-top: 15px;
  color: var(--color-contrast-medium);
  font-weight: 400;
  @include font-size('base');
}