.banner {
  background: $bg-color-dark;
  background: $bg-color-grad;
  padding: 10px;

  &__header {
    color: $txt-color-light-2;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.3rem;

    @include respond-to('small') {
      font-size: 1.9rem;
      line-height: 2.6rem;
    }

    @include respond-to('medium') {
      font-size: 2.1rem;
      line-height: 3rem;
    }

    @include respond-to('large') {
      font-size: 2.3rem;
      line-height: 3.2rem;
    }
  }
}