{{ define "main" -}}
<section class="banner">
  <h1 class="banner__header">{{ .Title }}</h1>  
</section>
<section class="list__wrapper">
  <div class="posts posts--center">
    <p class="list__description">
      {{ with .Params.Summary }}
        {{ . }}
      {{ else }}
        {{ with .Description }}
          {{ . }}
        {{ else }}
          {{ if eq .Data.Plural "series" }}
            Posts in the {{ .Title }} series.
          {{ else }}
            Posts about {{ .Title }}.
          {{ end }}
        {{ end }}
      {{ end }}
    </p>
    {{ range (.Paginate .RegularPagesRecursive).Pages }}
    <div class="post post--light">                                  
      <ul class="single__banner-categories">
        {{ with .Params.categories }}
        {{ range . }}
          <li><a href="{{ "categories" | absURL }}/{{ . | urlize }}/">{{ . }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
      <h3 class="post__title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ partial "general/label-drafts.html" . }}
      </h3>  
      <p class="post__date">
        {{ if not (eq .Lastmod .Date) }}
          Posted:
        {{ end }}
        {{ if not .PublishDate.IsZero -}}
          {{ .PublishDate.Format "Jan 2, 2006" }}
        {{ else }}
          {{ .Date.Format "Jan 2, 2006" }}
        {{ end }}
        {{ if not (eq .Lastmod .Date) }}
          &nbsp;&middot;&nbsp;
          Updated: {{ .Lastmod.Format "Jan 2, 2006" }}
        {{ end }}
        &nbsp;&middot;&nbsp;
        {{ .ReadingTime }} min.
      </p>      
      <p class="post__description">
        {{ with .Params.Summary }}
          {{ . }}
        {{ else }}
          {{ .Description }}
        {{ end }}
      </p>            
    </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
</section>
{{ end }}