{{ define "main" -}}
<section class="banner">
  <h1 class="banner__header">{{ .Title }}</h1>  
</section>
<section class="list__wrapper">
  <div class="posts posts--center">
    <p class="list__description">{{ .Description }}</p>
    {{ range (.Paginate .RegularPagesRecursive).Pages }}
      <div class="post">
        <p class="post__date">{{ .Date.Format "Jan 2, 2006" }}&nbsp;&middot;&nbsp;{{ .ReadingTime }} min.</p>
        <h2 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p class="post__description">{{ .Description }}</p>
      </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
</section>
{{ end }}