{{ define "main" }}
<section>
  <h1>{{ .Title }}</h1>
  <p>
    <span> {{ .Date.Format "Mon Jan 2, 2006" }} </span>
    <span> {{ .WordCount }} words </span>
    <span> {{ .ReadingTime }} min. read </span>
  </p>
  <div>
    {{ partial "toc.html" . }}
    <article>
        {{ .Content }}
    </article>
    {{ partial "related.html" . }}
    {{ partial "share_icons.html" . }}
    {{ partial "newsletter.html" . }}
    {{ if .Site.DisqusShortname }}
    {{ template "_internal/disqus.html" . }}
    {{ end }}
  </div>
</section>
<aside>
  <div>
    {{ with .Params.tags }}
    <ul>
      {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div>
    {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> {{ .Title }}</a>
    {{ end }}
    {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{ .Title }}</a>
    {{ end }}
  </div>
</aside>
{{ end }}