{{ define "main" }}
<section class="banner">
  <div class="single__container single__banner-wrapper">
    <div class="single__banner-categories">
      {{ with .Params.categories }}
      {{ range . }}
        <a href="{{ "categories" | absURL }}/{{ . | urlize }}"><li>{{ . }}</li></a>
      {{ end }}
      {{ end }}
    </div>
    <h1 class="banner__header single__post-header">{{ .Title }}</h1>
    <div class="single__post-meta">
      <div class="single__post-meta-stats">
        <span> {{ .Date.Format "Jan 2, 2006" }} </span>&middot;
        <span> {{ .WordCount }} words </span>&middot;
        <span> {{ .ReadingTime }} min. read </span>
      </div>
      <div class="single__banner-tags">
        {{ with .Params.tags }}
        <ul>
          {{ range . }}
            <a href="{{ "tags" | absURL }}/{{ . | urlize }}"><li>{{ . }}</li></a>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    <p class="single__post-description">{{ .Description }}</p>
  </div>
</section>
<div class="single__container single__container-bg">
  <section>
    <div>
      {{ partial "toc.html" . }}
      <article class="single__post-content">
          {{ .Content }}
      </article>
    </div>
  </section>
  <aside>
    <div class="single__banner-tags">
      {{ with .Params.tags }}
      <ul>
        {{ range . }}
        <a href="{{ "tags" | absURL }}/{{ . | urlize }}"><li>{{ . }}</li></a>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    {{ partial "socialshare.html" . }}
    {{ partial "related.html" . }}
    {{ if and (.Site.DisqusShortname) (not .Site.IsServer) }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
    <div class="single__next-previous">
      {{ with .PrevInSection }}
        <div>
          &laquo;
          <a class="previous" href="{{.Permalink}}">{{ .Title }}</a>
        </div>
      {{ end }}
      {{ with .NextInSection }}
        <div>
          <a class="next" href="{{.Permalink}}">{{ .Title }}</a>
          &raquo;
        </div>
      {{ end }}
    </div>
  </aside>
</div>
{{ end }}