{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
  </section>
  <div class="terms">
    {{ with .Data.Terms.ByCount }}
      {{ range . }}
        <a class="term" href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup class="term-count">{{ .Count }}</sup></a>
      {{ end }}
    {{ else }}
      <p class="fallback-text">
        {{- with .Site.Params.fallback_text -}}
        {{- . -}}
        {{- else -}}
        No content available yet. Coming soon.
        {{- end -}}
      </p>
    {{ end }}
  </div>
</div>
{{ end }}