.form-field {
  // Base form input to extend
  padding: 12px;
  border: 1px solid $border-color-light;
  font-size: 1rem;
  color: $txt-color-dark-2;
  font-family: $base-font-reg;
}

#newsletter__form {
  margin-top: 30px;

  &--input {
    @extend .form-field;
    margin-right: 10px;    
    min-width: 170px;
    min-height: 25px;

    @include respond-to('small') {
      min-width: 200px;
      min-height: 30px;
    }
  }

  &--submit {
    margin-top: 20px;
  }
}

#contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form {

  &--input {
    @extend .form-field;
    margin-right: 10px; 
    margin-bottom: 15px;   
    min-width: 200px;
    min-height: 30px;
  }

  &--textarea {
    @extend .form-field;
    margin-right: 10px; 
    margin-top: 10px;   
    min-width: 200px;
    min-height: 80px;
  }
}

#contact__form--submit {
  margin-top: 15px;
  max-width: 100px;
}