{{ $script := resources.Get "js/app.js" | js.Build "main.js"  }}
{{ with .Site.Params.custom_js }}
  {{ $custom := resources.Get . }}
  {{ $bundle := slice $script $custom | resources.Concat "main.js" }}
  {{ $final := $bundle | js.Build "main.js" | minify }}
  <script src="{{ $final.Permalink }}"></script>
{{ else }}
  {{ $final := $script | js.Build "main.js" | minify }}
  <script src="{{ $final.Permalink }}"></script>
{{ end }}

<!-- Add Universal Analytics or Google Analytics v4 based on config if not using GTM -->
{{ if and (not .Site.IsServer) (not .Site.Params.gtm_id) }}
  {{ if eq .Site.Params.googleAnalyticsv4 true }}
    {{ template "_internal/google_analytics.html" . }}
  {{ else }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
{{ end }}