.about {
  max-width: 900px;
  margin: 0 auto;

  &__content {
    padding: 50px 20px;
    color: $txt-color-dark-2;
    font-family: $base-font-light;
    font-size: 1.1rem;
    line-height: 1.9rem;
  }

  &__social-links {
    text-align: center;
    margin-bottom: 30px;
  }
}
