// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home-heading {

  &--light {
    color: $txt-color-light-2;
  }

  &--md {
    font-size: 1.8rem;
  }

  &--lg {
    font-size: 2.2rem
  }
}

.home-subtext {
  color: $txt-color-light-5;
}

.h-divider::after {
  content:' ';
  display:block;
  border: 1px solid $border-color-med;
  width: 70px;
  margin-top: 20px;
}

.triangle-divider {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);  
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 50px solid $bg-color-dark;
}

.home-hero {
  background: $bg-color-dark;
  background: $bg-color-grad;
  padding: 30px 20px;

  @include respond-to('small') {
    padding: 50px 30px;
  }

  @include respond-to('medium') {
    padding: 100px 30px;
  }

  &__wrapper {
    max-width: 850px;
    margin: 0 auto;
  }

  &__title {
    color: $txt-color-light-2;
    line-height: 1.3em;
    margin: 0 0 15px 0;
    font-size: 1.7rem;

    @include respond-to('small') {
      font-size: 1.9rem;
    }

    @include respond-to('medium') {
      font-size: 2.1rem;
    }

    @include respond-to('large') {
      font-size: 2.3rem;
    }
  }

  &__subtitle {
    color: $txt-color-light-4;
    font-size: 1rem;
    line-height: 1.7rem;
    margin-top: 0;
    margin-bottom: 30px;

    @include respond-to('small') {
      font-size: 1.1rem;
    }

    @include respond-to('large') {
      font-size: 1.3rem;
      line-height: 1.9rem;
    }
  }

  &__pic {
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 20px;
    filter:contrast(70%);
    border: 3px solid $bg-color-light;
    width: 75px;
    height: auto;
    
    @include respond-to('small') {
      width: 100px;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;

    @include respond-to('medium') {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
  }
}

.home-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  column-gap: 5%;
  row-gap: 40px;

  &__sections {
    background-color: $bg-color-light;
    column-gap: 0;
    // border-top: 5px solid $link-color-dark;
    border-bottom: 5px solid $alt-color-dark;
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    padding: 50px 20px;

    @include respond-to('large') {
      padding: 80px 20px;
    }
  }

  &__info {
    width: 400px;
    padding: 20px 30px;

    p a {
      font-family: $base-font-med;
      font-size: 1rem;
      text-transform: uppercase;
      color: $link-color-dark;
    }    
  }

  &__sections &__info {
    box-shadow: 0 5px 25px -18px $bg-color-dark;
    background-color: white;
  }

  &__posts {
    background-color: $bg-color-dark;
    padding: 40px 0;
    border-bottom: 5px solid $alt-color-dark;
    box-sizing: border-box;

    @include respond-to('large') {
      padding: 60px 0;
    }

    p a {
      color: $link-color-light;
    }
  }

  &__projects {
    background-color: $bg-color-light;
    flex-direction: row-reverse;
    padding: 60px 0 30px 0;
  }
}
