.single {

  &__container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

    @include respond-to('medium') {
      padding: 50px;
    }
  }

  &__container-bg {
    background-color: white;
  }

  &__banner-wrapper {
    padding: 15px;
  }

  &__post-header {    
    text-align: left;
    margin: 0 auto;
  }

  &__post-description {
    color: $txt-color-light-3;
    margin-top: 30px;
    font-size: 1rem;
    line-height: 1.5rem;

    @include respond-to('medium') {
      margin-top: 50px;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  &__post-meta {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 20px;
    color: $txt-color-light-4;
    text-align: left;
  }

  &__post-meta-stats {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 6px;
    font-family: $base-font-reg;
    font-size: 0.9rem;

    @include respond-to('medium') {
      font-size: 1rem;
    }    
  }

  &__banner-categories {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 8px 15px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-inline-start: 0;

    li a {
      color: $alt-color-dark;
    }

    li a:hover {
      color: $alt-color-light;
    }

    li {
      color: $alt-color-dark;
    }

    li:hover {
      color: $alt-color-light;
    }

    @include respond-to('small') {
      font-size: 1rem;
    }
  }

  &__banner-tags {

    &--bottom {
      margin-top: 30px;
    }

    ul {
      /* margin-left: 10px; */
      display: flex;
      list-style-type: none;
      column-gap: 15px;
      row-gap: 20px;
      padding: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      flex-wrap: wrap;
    }

    ul li a {
      background-color: transparent;
      padding: 5px 10px;
      border-radius: 10px;
      border: 2px solid $alt-color-dark;
      color: $alt-color-dark;
      font-size: 0.8rem;

      @include respond-to('medium') {
        padding: 6px 12px;
        font-size: 1rem;
      }
    }

    ul li a:hover {
      border-color: $alt-color-light;
      color: $alt-color-light;
    }
  }

  &__post-image {
    margin: 5px 0;

    @include respond-to('small') {
      margin: 10px 0;
    }

    @include respond-to('medium') {
      margin: 20px 0;
    }
  }

  &__post-content {
    color: $txt-color-dark-2;
    font-family: $base-font-light;
    font-size: 1.1rem;
    line-height: 1.9rem;

    p > img, figure > img {      
      max-width: 100%;
      height: auto;
    }

    figure {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__next-previous-container {
    margin: 50px 0;
  }

  &__next-previous {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin: 30px 0;

    a {
      max-width: 230px;
      background-color: white;
      border: 1px solid $border-color-very-light;
      box-shadow: 0 5px 25px -20px $bg-color-dark;
      padding: 10px;
      font-family: $base-font-light;
      line-height: 1.4rem;
    }

    a:hover {
      background-color: $bg-color-light;
    }
  }
}

.next-previous__header {
  font-size: 1.5rem;
}

.series {
  margin: 50px 0;

  &__list {
    line-height: 2rem;
    color: $txt-color-dark-2;
    margin-bottom: 30px;
    font-family: $base-font-light;

    li {
      line-height: 1.4rem;
      margin-top: 5px;
    }
  }

  &__this-post {
    color: $alt-color-dark;
    /* background-color: white; */
    padding: 5px 5px;
    margin-left: 5px;
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid $alt-color-dark;
    font-family: $base-font-med;
  }
}