<footer class="footer">
  {{ if .Param "newsletter" }}
    {{ partial "newsletter.html" . }}
  {{ else if (and (.Site.Params.global_newsletter) (.Param "newsletter")) }}
    {{ partial "newsletter.html" . }}
  {{ end }}
  <section class="footer__details">
    <p class="footer__copyright">
      &copy; {{ now.Format "2006" }} &middot; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      {{ with .Site.Params.footer_text }}
      &middot; {{ . }}
      {{ end }}
    </p>
  </section>
</footer>