<footer class="footer">
  {{ if .Site.Params.global_newsletter }}
    {{ partial "newsletter.html" . }}
  {{ else }}
    {{ if .Param "newsletter" }}
      {{ partial "newsletter.html" . }}
    {{ end }}
  {{ end }}
  <section class="footer__details">
    <p class="footer__copyright">
      &copy; {{ now.Format "2006" }} &middot; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      {{ if .Site.Params.footer_text }}
      &middot; {{ .Site.Params.footer_text }}
      {{ end }}
    </p>
  </section>
</footer>