<header>
  <nav class="navbar" id="js-navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <img src="{{ .Site.BaseURL }}icons/menu-burger.svg"
           alt="hamburger icon to toggle menu"
           height="25"
           width="auto"/>
    </span>          
    <a class="logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <ul class="main-nav" id="js-menu"> 
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL }}" class="nav-links">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            <label class="drop-icon" for="{{ .Name }}">▾</label>
          </a>
          <ul class="sub-menu">
            {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}" class="nav-links">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </li>
        
      {{ else }}
        <li>
          <a href="{{ .URL }}" class="nav-links">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
      {{ end }}
    </ul>
    
  </nav>
</header>