<head>
  <!-- Generic meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- SEO title from config or front matter -->
  <!-- Add site title to the end of everything by default EXCEPT single post and project pages -->
  <title>
    {{- with .Params.seo_title -}}
      {{- . -}}
    {{ else }}
      {{- .Title -}}
    {{ end }}    
    {{ if (or (and (ne .Type "posts") (ne .Type "projects")) (not .IsPage)) }}
      | {{ .Site.Title -}}
    {{ end -}}      
  </title>
  <!-- Author from config -->
	<meta name="author" content="{{- with .Params.author }}
                                 {{- . -}}
                               {{- else }}
                                 {{- with .Site.Params.author }}
                                   {{- . -}}
                                 {{- end }}
                               {{- end }}">
  <!-- Description from config or front matter  -->
  <meta name="description" content="{{- with .Description }}
                                      {{- . -}}
                                    {{- else }}
                                      {{- with .Site.Params.description }}
                                        {{- . -}}
                                      {{- end }}
                                    {{- end }}">
  <!-- Open Graph, Twitter Cards and Schema.org -->
  {{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
  <!-- Favicon -->
  {{ if eq .Site.Params.favicon true }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  {{ end }}
  <!-- Add rss+xml functionality -->
	{{- with .OutputFormats.Get "rss" -}}
	  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{- end -}}
  <!-- Local stylesheets -->
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/styles.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/queries.css">
  <!-- Google Tag Manager -->
	{{ if .Site.Params.gtm_id }}
    {{ partial "gtm.html" . }}
  {{ end }}
  <!-- Netlify Identity -->
  {{ if eq .Site.Params.netlify_cms true }}
	  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>