<header>
  <nav class="main-nav" id="js-navbar">
    <span class="main-nav__toggle" id="js-navbar__toggle">
      <img src="{{ .Site.BaseURL }}icons/menu-burger.svg"
           alt="Hamburger icon for mobile menu toggle"
           height="30"
           width="auto"/>
    </span>
    <a class="main-nav__logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <ul class="menu" id="js-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="menu__item">
            <a href="{{ .URL }}" class="menu__link menu__link--desktop">
              {{ .Name }}
              <label class="menu__drop-icon" for="{{ .Name }}">▾</label>
            </a>
            <span class="menu__link menu__link--mobile">
              {{ .Name }}
              <label class="menu__drop-icon" for="{{ .Name }}">▾</label>
            </span>
            <ul class="sub-menu">
              {{ range .Children }}
                <li class="menu__item">
                  <a href="{{ .URL }}" class="menu__link menu__link--desktop">{{ .Name }}</a>
                  <a href="{{ .URL }}" class="menu__link menu__link--mobile">{{ .Name }}</a>
                </li>
              {{ end }}
            </ul>
          </li>
        {{ else }}
          <li>
            <a href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
</header>