<!-- Reusable template for an email list capture -->
{{- if .Param "newsletter" }}
    <section class="newsletter">
        <h2 class="newsletter__header">Subscribe for Post Updates</h2>
        <p class="newsletter__description">Enter your email below to get notified of new posts.</p>
        <form id="newsletter-form" name="newsletter" method="POST" data-netlify="true">
          <span>
            <input type="email" id="form-input" name="email" placeholder="Your best email...">
          </span>
          <span>
            <button type="submit" id="submit-button">Subscribe</button>
          </span>
        </form>
    </section>
{{- end}}