{{ define "main" }}
  <section class="homepage__hero">    
    <div class="homepage__hero--wrapper">
      <div class="homepage__hero--flex">
        {{ if .Site.Params.avatar }}
        <img class="homepage__hero--pic"
             src="{{ .Site.BaseURL }}img/{{.Site.Params.avatar}}"
             width="100px" height="100px"/>
        {{ else }}
        <img class="homepage__hero--pic"
             src="{{ .Site.BaseURL }}img/rocket.png"
             width="100px" height="100px"/>
        {{ end }}
        <div>
          <h1 class="homepage__hero--title">{{.Title}}</h1>
          {{ with .Params.subtitle }}
          <p class="homepage__hero--subtitle">{{.}}</p>
          {{ end }}
          <div class="homepage__hero--learn-more"><a href="{{ .Site.BaseURL }}about/">About me</a></div>
        </div>        
      </div>      
    </div>
  </section>
  {{- if .Sections -}}
  <section class="homepage__section homepage__section--sections">    
    {{- range .Sections -}}
    {{- range .Sections -}}
    <div class="homepage__section--info">
      <h2>{{ .Title }}</h2>
      <p>{{ .Description }}</p>
      <p><a href="{{ .Site.BaseURL }}{{ .Section }}/{{ .Title | lower }}/">View {{ .Title | lower }}</a></p>
    </div>
    {{- end -}}
    {{- end -}}
  </section>
  {{- end -}}
  <section class="homepage__section homepage__section--posts">
    <div class="homepage__section--info homepage__section--info-no-border">      
      <h2>Recent Posts</h2>
      <p>This is a description of the section that's should be longer but this will do for now.</p>
      <p><a href="{{ .Site.BaseURL }}posts/">View all</a></p>
    </div>
    <div class="homepage__section--recent">      
      {{- range ( where site.RegularPages "Section" "posts" | last 3 ) }}
          <div class="homepage__section--recent-post">                        
            <h3 class="homepage__section--recent-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>            
            <p class="homepage__section--recent-date">{{ .Date.Format "Jan 2, 2006" }}&nbsp;&middot;&nbsp;{{ .ReadingTime }} min.</p>
            <p class="homepage__section--recent-description">{{ .Description }}</p>            
          </div>
      {{ end }}      
    </div> 
  </section>
  <section class="homepage__section homepage__section--projects">
    <div class="homepage__section--info homepage__section--info-no-border">      
      <h2>Featured Projects</h2>
      <p>This is a description of the section that's should be longer but this will do for now.</p>
      <p><a href="{{ .Site.BaseURL }}projects/">View all</a></p>
    </div>
    <div class="homepage__section--recent">      
      {{- range ( where site.RegularPages "Section" "projects" | last 3 ) }}
          <div class="homepage__section--recent-post">            
            <h3 class="homepage__section--recent-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>            
            <p class="homepage__section--recent-description">{{ .Description }}</p>            
          </div>
      {{ end }}      
    </div> 
  </section>
  {{ partial "newsletter.html" . }}
{{ end }}