{{ define "main" }}
  <section class="home-hero">    
    <div class="home-hero__wrapper">
      <div class="home-hero__flex">
        {{ if .Site.Params.avatar }}
        <img class="home-hero__pic"
             src="{{ .Site.BaseURL }}img/{{.Site.Params.avatar}}"
             width="100px" height="100px"
             alt="Headshot or avatar belonging to the website owner"/>
        {{ else }}
        <img class="home-hero__pic"
             src="{{ .Site.BaseURL }}img/rocket.png"             
             alt="Cartoon rocket blasting off to space"/>
        {{ end }}
        <div>
          <h1 class="home-hero__title">{{.Title}}</h1>
          {{ with .Params.subtitle }}
          <p class="home-hero__subtitle">{{.}}</p>
          {{ end }}
          <div><a class="cta-btn" href="{{ .Site.BaseURL }}about/">About me</a></div>
        </div>
      </div>      
    </div>
  </section>

  <!-- Only show subsections under posts if there are at least 1 -->
  {{ range (where .Sections "Section" "posts") }}
    {{ if gt (len .Sections) 0 }}
    {{ $.Scratch.Set "hasSubsections" true }}
    {{ end }}
  {{ end }}
  {{ $hasSubsections := $.Scratch.Get "hasSubsections" }}

  {{ if eq $hasSubsections true }}
  <section class="home-section home-section__sections">    
    {{ range (where .Sections "Section" "posts") }}
      {{ range .Sections }}
      <div class="home-section__info">
        <h2 class="header--md h-divider">{{ .Title }}</h2>
        <p>
          {{ with .Params.Summary }}
            {{ . }}
          {{ else }}
            {{ .Description }}
          {{ end }}
        </p>
        <p><a href="{{ .Site.BaseURL }}{{ .Section }}/{{ .Title | lower }}/">Read {{ .Title | lower }} &raquo;</a></p>
      </div>
      {{ end }}
    {{ end }}
  </section>
  <div class="triangle-divider"></div>
  {{- end -}}

  <section class="home-section home-section__posts">
    <div class="home-section__info">      
      <h2 class="header--light header--lg h-divider">Recent Posts</h2>
      <p class="description--light">This is a description of the section that's should be longer but this will do for now.</p>
      <p><a href="{{ .Site.BaseURL }}posts/">See all posts &raquo;</a></p>
    </div>
    <div class="posts">    
      {{- range ( where site.RegularPages "Section" "posts" | last 3 ) }}
        <div class="post">                                  
          <div class="single__banner-categories">
            {{ with .Params.categories }}
            {{ range . }}
              <a href="{{ "categories" | absURL }}/{{ . | urlize }}"><li>{{ . }}</li></a>
            {{ end }}
            {{ end }}
          </div>
          <h3 class="post__title post__title--light"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>  
          <p class="post__date">{{ .Date.Format "Jan 2, 2006" }}&nbsp;&middot;&nbsp;{{ .ReadingTime }} min.</p>       
          <p class="post__description description--light">
            {{ with .Params.Summary }}
              {{ . }}
            {{ else }}
              {{ .Description }}
            {{ end }}
          </p>            
        </div>
      {{ end }}      
    </div> 
  </section>
  <div class="triangle-divider"></div>
  <section class="home-section home-section__projects">
    
      {{ if .Site.Params.featured_project }}
        {{ $featured := .Site.Params.featured_project }}
        {{ with .Site.GetPage "/projects" }}
        {{ with .GetPage $featured }}
        <div class="project project--home">
          <div class="single__banner-categories">
            {{ with .Params.techstack }}
            {{ range . }}
              <li>{{ . }}</li>
            {{ end }}
            {{ end }}
          </div> 
          <h3 class="project__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>            
          <p class="project__description">
            {{ with .Params.Summary }}
              {{ . }}
            {{ else }}
              {{ .Description }}
            {{ end }}
          </p>    
          <div class="project__links">
            {{ with .Params.live_url }}
              <a class="project__live-url cta-btn cta-btn--light" href="{{ . }}">Live</a>
            {{ end }}
            {{ with .Params.source_url }}
              <a class="project__source-url cta-btn cta-btn--light" href="{{ . }}">Source Code</a>
            {{ end }}
          </div>        
        </div>
        {{ end }}
        {{ end }}
      {{ else }}     
      {{- range ( where site.RegularPages "Section" "projects" | last 1 ) }}
        <div class="project"> 
          <div class="single__banner-categories">
            {{ with .Params.techstack }}
            {{ range . }}
              <li>{{ . }}</li>
            {{ end }}
            {{ end }}
          </div>                       
          <h3 class="project__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>            
          <p class="project__description">
            {{ with .Params.Summary }}
              {{ . }}
            {{ else }}
              {{ .Description }}
            {{ end }}
          </p>  
          <div class="project__links">
            {{ with .Params.live_url }}
              <a class="project__live-url" href="{{ . }}">Live</a>
            {{ end }}
            {{ with .Params.source_url }}
              <a class="project__source-url" href="{{ . }}">Source Code</a>
            {{ end }}
          </div>          
        </div>
      {{ end }}
      {{ end }}
      <div class="home-section__info">      
        <h2 class="header--lg h-divider">Featured Project</h2>
        <p>This is a description of the section that's should be longer but this will do for now.</p>
        <p><a href="{{ .Site.BaseURL }}projects/">See all projects &raquo;</a></p>
      </div>
  </section>
{{ end }}