<header>
  <nav class="main-nav" id="js-navbar">
    <span class="main-nav__toggle" id="js-navbar__toggle">
      {{ $icon := resources.Get "icons/menu-burger.svg" }}
      <img src="{{ $icon.RelPermalink }}"
           alt="Hamburger icon for mobile menu toggle"
           height="30"
           width="30"/>
    </span>
    <a class="main-nav__logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <ul class="menu" id="js-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="menu__item">
        <span class="menu__link">
          {{ .Name }}
          <span class="menu__drop-icon">▾</span>
        </span>
        <ul class="sub-menu">
          {{ range .Children }}
            <li class="menu__item">
              <a href="{{ .URL }}" class="menu__link">{{ .Name }}</a>                  
            </li>
          {{ end }}
        </ul>
      </li>
    {{ else }}
      <li class="menu__item">
        <a href="{{ .URL }}" class="menu__link">
          {{ .Name }}              
        </a>
      </li>
    {{ end }}
      {{ end }}
    </ul>
  </nav>
</header>