{{ define "main" }}
<section class="banner">
  <h1 class="banner__header">{{ .Title }}</h1>
</section>
<section class="contact">
  <div class="contact__description">{{ .Content }}</div>
  <form id="contact__form" name="contact" method="POST" {{ with .Site.Params.netlify_forms }}data-netlify="{{ . }}"{{ end }}>
    <input type="name" id="contact__form--input" name="name" placeholder="Your name..." title="Enter your name">
    <input type="email" id="contact__form--input" name="email" placeholder="Your best email..." title="Enter your best email">
    <textarea type="message" id="contact__form--textarea" name="message" placeholder="Your message..." title="Enter your message"></textarea>
    <button type="submit" id="contact__form--submit" class="cta-btn">
      Send
    </button>
  </form>
</section>
{{ end }}